.b1{
	background: #1C1C20 ;
}
.skizb
{
	background: #E8ECF1  ;
}
.ezr
{
	background: #E8ECF1	;
}.ak
{
	background: #F4F6F8 ;
}
.guyn
{
	background: #F4F4F5   ;
}
.sharj
{
	padding: 200px;
	color: black;
}
.sharj1
{
	padding: 200px;
}